<nav class="navbar navbar-expand navbar-dark bg-dark px-4">
  <a class="navbar-brand">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li *ngIf="isLogin ==true" class="nav-item active" >
        <a class="nav-link" >Logout</a>
      </li> -->
    </ul>
  </div>
</nav>